.header1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 45px;
	color: rgb(91, 37, 219);
	font-weight: 800;
	height: 1;
}

.home {
	color: rgb(91, 37, 219);
	text-decoration: none;
}

.home:hover {
	color: rgb(91, 37, 219);
	text-decoration: none;
	padding: 0.3rem 0.3rem;
	margin: 0.3rem 0.3rem;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

html {
	font-size: 60%;
	box-sizing: border-box;
}

body {
	line-height: 1;
	height: 100vh;
	position: relative;
	background: linear-gradient(to top left, rgb(91, 37, 219), #ffffff);
}

.p-about {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3rem;
	font-weight: bold;
	color: rgb(91, 37, 219);
}

.p-links {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.8rem;
	font-weight: bold;
	color: rgb(91, 37, 219);
}

.my-links {
	text-decoration: none;
	display: inline;
	color: rgb(91, 37, 219);
}

.my-links::after{
	content:"\a\a";
    white-space: pre ;
}


.my-links:hover {
	color: rgb(0, 0, 0);
}

.link-logo-git{
	width: 30px;
	height: 27px;
	float: left;
	margin: 0px 2.3px;
}

.link-logo-linkedin{
	width: 25px;
	height: 24px;
	float: left;
	margin: 1px 6px;
}


.show-modal-about {
	font-size: 2rem;
	font-weight: 800;
	padding: 0.7rem 1rem;
	margin: 0.7rem 1rem;
	border-style: solid;
	border-color: rgb(91, 37, 219);
	color: rgb(91, 37, 219);
	background-color: rgb(255, 255, 255);
	border-radius: ;
	cursor: pointer;
	float: right;
	-webkit-border-radius: 100rem;
	-moz-border-radius: 100rem;
	-ms-border-radius: 100rem;
	-o-border-radius: 100rem;
	float: right;
}

.show-modal-about:hover {
	font-size: 2.1rem;
	font-weight: 800;
	padding: 1rem 1rem;
	margin: 1rem 1.2rem;
	border-style: solid;
	border-color: rgb(255, 255, 255);
	color: rgb(252, 252, 252);
	background-color: rgb(91, 37, 219);
	border-radius: 1.1rem;
	cursor: pointer;
	float: right;
	transition: 0.3s ease;
	-webkit-border-radius: 1.1rem;
	-moz-border-radius: 1.1rem;
	-ms-border-radius: 1.1rem;
	-o-border-radius: 1.1rem;
	float: right;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
}

.show-modal-links {
	font-size: 2rem;
	font-weight: 800;
	padding: 0.7rem 1rem;
	margin: 0.7rem 1rem;
	border-style: solid;
	border-color: rgb(91, 37, 219);
	color: rgb(91, 37, 219);
	background-color: rgb(255, 255, 255);
	border-radius: 800rem;
	cursor: pointer;
	float: right;
	-webkit-border-radius: 800rem;
	-moz-border-radius: 800rem;
	-ms-border-radius: 800rem;
	-o-border-radius: 800rem;
	float: right;
}

.show-modal-links:hover {
	font-size: 2.1rem;
	font-weight: 800;
	padding: 1rem 1rem;
	margin: 1rem 1rem;
	border-style: solid;
	border-color: rgb(255, 255, 255);
	color: rgb(252, 252, 252);
	background-color: rgb(91, 37, 219);
	border-radius: 1.1rem;
	cursor: pointer;
	float: right;
	transition: 0.3s ease;
	-webkit-border-radius: 1.1rem;
	-moz-border-radius: 1.1rem;
	-ms-border-radius: 1.1rem;
	-o-border-radius: 1.1rem;
	float: right;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
}

.close-modal-about {
	position: absolute;
	top: 2rem;
	right: 3rem;
	font-size: 5rem;
	color: rgb(91, 37, 219);
	cursor: pointer;
	border: none;
	background: none;
}

.close-modal-links {
	position: absolute;
	top: 2rem;
	right: 3rem;
	font-size: 5rem;
	color: rgb(91, 37, 219);
	cursor: pointer;
	border: none;
	background: none;
}

.hidden {
	display: none;
}

.modal-about {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 45%;
	background-color: #ffffff;
	padding: 10rem;
	border-radius: 40px;
	box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
	z-index: 10;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.modal-links {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 23%;
	width: 23%;
	background-color: #ffffff;
	padding: 10rem;
	border-radius: 40px;
	box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
	z-index: 10;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}
